* {
    box-sizing: border-box;
}
body {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background: #E5E5E5;
}
#wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 1150px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}
.h_line_1 {
    width: 100%;
    padding: 17px 0;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    line-height: 16px;
}
.menu a {
    display: block;
    text-decoration: none;
    color: #333333;
    border-radius: 5px;
    transition: all .8s;
}
.menu>li {
    display: inline-block;
    margin-right: -4px;
    padding: 0 15px;
}
.menu a:hover {
    color: #F13C6E;
    box-shadow: 1px 1px 4px #F13C6E;
}
.h_line_2 {
    width: 100%;
    background: white;
    overflow: hidden;
    padding: 20px 0;
}
.logo {
    float: left;
}
.call {
    float: right;
    padding: 20px 0;
}
.call a {
    color: black;
    text-decoration: none;
    display: inline-block;
}
[href^="tel:"] {
    padding-right: 36px;
    font-size: 16px;
    line-height: 19px;
    transition: all .8s;
}
.call a:first-child:hover {
    text-decoration: underline;
    color: blue;
}
.button {
    background: white;
    line-height: 16px;
    text-align: center;
    width: 170px;
    border-radius: 50px;
    border: 2px solid #F13C6E;
    padding: 10px 0;
    transition: all .8s;
}
.button:hover {
    background: #F13C6E;
    color: white;
}
.h_line_3 {
    width: 100%;
    border-top: 1px solid #EFEFEF;
    background: white;
    padding: 30px 0;
}
.menu_2 {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 16px;
    line-height: 19px;
}
.menu_2 a {
    text-decoration: none;
    color: #000000;
    border-radius: 5px;
    transition: all .8s;
}
.menu_2 a:hover {
    color: #F13C6E;
    box-shadow: 1px 1px 4px #F13C6E;
}
.menu_2>li {
    display: inline-block;
    margin-right: -4px;
    padding: 0 20px;
}
.m_line_1 {
    position: relative;
    max-width: 100%;
    min-height: 604px;
    padding: 192px 0;
    color: white;
    overflow: hidden;
}
.m_line_1 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
}
.text_line_1 {
    max-width: 310px;
}
h1 {
    margin: 0;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px
}
p {
    margin: 0;
    padding: 41px 0;
}
.m_line_1 a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    transition: all .8s;
    letter-spacing: 0.05em;
}
.m_line_1 a:hover {
    color: #000000;
    background: #ffffff;
}
.m_line_2 {
    padding: 80px 0;
}
h2 {
    margin: 0;
    padding-bottom: 38px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.line_card {
    list-style: none;
    /* overflow: hidden; */
    margin: 0 -15px;
    padding: 0;
}
.line_card>li {
    display: inline-block;
    width: calc(100% / 4);
    margin-right: -4px;
    padding: 0 15px;
}
.card {
    width: 100%;
    background: #ffffff;
    padding: 23px 30px;
    transition: box-shadow .8s;
}
.card:hover {
    box-shadow: 2px 2px 8px #F13C6E;
}
.card_photo {
    max-width: 125px;
    margin: 0 auto;
    overflow: hidden;
    transition: transform 2s;
}
.card_photo:hover {
    transform: scale(1.2);
}
.card_text {
    margin: 0;
    padding-top: 20px;
    text-align: center;
}
h5 {
    display: inline-block;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    color: #333333;
}
span {
    display: inline-block;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
    padding: 15px 0;
}
.button_2 {
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 0.05em;
    line-height: 16px;
    padding: 9px 40px;
    border-radius: 30px;
    border: 1px solid #F13C6E;
    background: #F13C6E;
    transition: all .8s;
}
.button_2:hover {
    background: #ffffff;
    color: #000000;
    border: 1px solid #F13C6E;
}
.line2_cards {
    margin: 0 -15px;
    padding: 100px 0;
}
.one {
    display: inline-block;
    width: calc(100%/2);
    color: #ffffff;
    margin-right: -4px;
    padding: 0 15px;
}
.one>div {
    background: #F13C6E;
    padding: 35px 40px;
    overflow: hidden;
}
.one_text {
    display: inline-block;
    width: 250px;
}
h3 {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}
.one p {
    padding: 21px 0 25px;
}
input {
    outline-color: #F13C6E;
    width: 225px;
    height: 35px;
    border-radius: 30px;
    border: none;
}
input::placeholder {
    padding: 0 25px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #C4C4C4;
}
.one_text a {
    display: block;
    text-decoration: none;
    color: #ffffff;
    background: #F13C6E;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    padding: 8px 0;
    transition: all .8s;
}
.one_text a:hover {
    background: #FFFFFF;
    color: #000000;
}
.img_one {
    float: right;
    padding-top: 18px;
}
table {
    background: #ffffff;
    border-collapse: collapse;
    margin-bottom: 80px;
}
td {
    border: 1px solid #EFEFEF;
    overflow: hidden;
}
table a {
    display: block;
    padding: 33px 65px;
    transition: transform 2s;
}
table a:hover {
    transform: scale(1.5);
}
#footer {
    background: #ffffff;
}
.f_line_1 {
    padding: 60px 0 50px;
    margin: 0 -15px;
    overflow: hidden;
}
.f_list {
    display: inline-block;
    width: calc(100%/4);
    margin-right: -4px;
    padding: 0 15px;
}
h4 {
    margin: 0;
    padding-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
}
.f_menu {
    margin: 0;
    padding-left: 0;
    padding-top: 25px;
    border-top: 1px solid #EFEFEF;
    list-style: none;
}
.f_menu a {
    display: block;
    max-width: 80px;
    text-decoration: none;
    font-size: 12px;
    line-height: 28px;
    color: #828282;
    transition: color .8s;
}
.f_menu a:hover {
    color: #F13C6E;
}
.f_line_2 {
    border-top: 1px solid #EFEFEF;
    padding: 37px 0 37px;
    background: #FFFFFF;
    overflow: hidden;
}
.f_line_2 .call {
    padding: 3px 2px;
    margin: 0;
    overflow: hidden;
}
.f_line_2 span {
    display: block;
    padding: 0;
    margin: 0;
    transition: color .8s;
    color: #F13C6E;
}
.f_line_2> a {
    text-decoration: none;
    float: left;
    width: 45px;
    padding: 10px 0;
    margin-right: 20px;
    background: #ffffff;
    border-radius: 50%;
    border: 2px solid #F13C6E;
    transition: all .8s;
}
.f_line_2> a:hover {
    transform: scale(1.2);
    background: #F13C6E;
}
.f_line_2> a:hover span {
    color: #ffffff;
}

.f_line_3 {
    overflow: hidden;
    width: 100%;
    padding: 25px 0;
    background: #EFEFEF;
    font-size: 12px;
    line-height: 14px;
}
.f_line_3 a {
    float: right;
    text-decoration: none;
    color: #828282;
    transition: color .8s;
}
.f_line_3 a:hover {
    color: #F13C6E;
}
.f_line_3 span {
    float: left;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
    letter-spacing: 0px;
    margin: 0;
    padding: 0;
}
